* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: rgb(255, 0, 0);
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(121, 9, 79, 1) 35%, rgba(0, 121, 255, 1) 100%);
  padding: 1.3rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

section {
  width: 70%;
  margin: 5px auto;
  border: 5px solid #ddd;
}

section.input {
  padding: 10px;
  text-align: center;
  display: flex;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

section.input input {
  flex: 1;
  margin: 0 5px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.2rem;
}

section.input button {
  border: none;
  border-radius: 20px;
  padding: 0 40px;
  white-space: nowrap;
}

section.input input:hover {
  background-color: #eee;
}

section.input input:focus {
  border: 1px solid rgb(141, 141, 255);
}

section.list {
  flex: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 0;
}

section.list ul {
  list-style: none;
}

section.list li {
  cursor: pointer;
  background-color: #eee;
  font-size: 1.2rem;

  /*브라우저 호환성 위한 설정*/
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.9rem;

  transition: 0.3s;

  display: flex;
}

section.list li:nth-of-type(odd) {
  background-color: #f9f9f9;
}

section.list li:hover {
  background-color: #ddd;
}

section.list li.complete {
  background-color: #ccc;
}

section.list li.complete span.todo {
  text-decoration: line-through;
  color: #ddd;
}
/*li 태그에 complete가 없으면  span.complete에 속성 부과 */
section.list li:not(.complete) span.complete {
  visibility: hidden;
}

span.complete {
  padding: 5px;
  margin: 0 15px;
  color: red;
}
span.todo {
  flex: 1;
}

span.close {
  transition: 0.7s;
  padding: 0 5px;
  border-radius: 20px;
  font-size: 1.2rem;
}

span.close:hover {
  background-color: rgb(255, 0, 0);
}

footer {
  background-color: #ccc;
  text-align: center;
  padding: 0.8rem;
}
